@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */


@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700;
  }

  .btn-boards {
    @apply bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700;
  }

  .card {
    @apply bg-white shadow-lg rounded p-6;
  }

  .alert {
    @apply bg-red-500 text-white font-bold py-3 px-4 rounded;
  }

}

.btn-google {
  @apply flex items-center justify-center space-x-2 rounded px-4 py-2;
  @apply bg-red-500 text-white hover:bg-red-600;
}

.center {
  text-align: center;
}