/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* Ensure the body takes full height and doesn't introduce extra scroll */
  height: 100vh;
  overflow: hidden;
} 

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700;
  }

  .btn-red {
    @apply text-white bg-red-500 hover:bg-red-700 py-2 px-4 rounded;
  }

  .btn-boards {
    @apply bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-700;
  }

  .card {
    @apply bg-white shadow-lg rounded p-6;
  }

  .alert {
    @apply bg-red-500 text-white font-bold py-3 px-4 rounded;
  }
}

.btn-google {
  @apply flex items-center justify-center space-x-2 rounded px-4 py-2;
  @apply bg-red-500 text-white hover:bg-red-600;
}

.center {
  text-align: center;
}

/* Optional: Customize scrollbars for better UX */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}